.navbar {
  margin-left: 60px;
  display: flex;
  gap: 40px;
}

.navbar-link {
  font-weight: 700;
  line-height: 1.6;
  transition: all 0.2s ease;

  &:hover {
    color: var(--color-primary);
    transform: scale(1.05);
  }
}

.navbar-link-active {
  color: var(--color-primary);
}

.navbar-link-inactive {
  color: var(--color-gray-800);
}




