.ui-input {
  width: 100%;
  border: 2px solid;
  border-color: var(--color-gray-400);
  font-size: 14px;
  color: var(--color-gray-800);
  letter-spacing: 0.05em;
  padding: 12px 16px;
  border-radius: 4px;
  transition: all 0.2s ease;
  background-color: var(--color-white);

  &::placeholder {
    color: var(--color-gray-600);
  }

  &:focus {
    border-color: var(--color-primary);
    outline: none;
  }
}





