// Studying section
.studying-section {
  background-color: var(--color-main);
  padding-top: 126px;
  font-size: 16px;
}

.studying-content {
  display: flex;
  justify-content: space-between;
}

.studying-left {
  flex-basis: 496px;
  padding-top: 16px;
}

.studying-title {
  font-weight: 900;
  font-size: 64px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  margin-top: 20px;
  margin-bottom: 60px;
}

.studying-links {
  display: flex;
  gap: 24px;
}


// Advantages section
.advantages-section {
  margin: 180px 0;
}

.advantages-content {
  display: flex;
  justify-content: space-between;
}


.advantages-text {
  flex-basis: 390px;
}

// Courses section
.courses-section {
  margin-bottom: 180px;
}

.courses-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 60px;
}

.courses-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

// Benefits section
.benefits-section {
  margin-bottom: 120px;
}

.benefits-header {
  text-align: center;
}

.benefits-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.benefits-text {
  flex-basis: 495px;
}

.benefits-title {
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.3;
}

.benefits-description {
  font-size: 16px;
  line-height: 1.6;
  color: var(--color-gray-800);
  text-align: justify;
}


// Events section
.events-section {
  padding: 80px 0;
  background-color: rgb(254, 219, 210);
}

.events-header {
  text-align: center;
}

.events-footer {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: center;
}

.events-footer-text {
  font-weight: 700;
  font-size: 28px;
}

// Certificate section
.certificate-section {
  padding: 120px 0;
}

.certificate-content {
  position: relative;
}

.certificate-text {
  max-width: 397px;
}

.certificate-logos {
  display: flex;
  gap: 40px;
  align-items: center;
}

.certificate-illustration {
  position: absolute;
  top: 0;
  right: 0;
}

// Team section
.team-section {
  padding-top: 166px;
  padding-bottom: 180px;
  background-color: var(--color-gray-200);
}

.team-controls {
  position: absolute;
  top: -72px;
  right: 0;
}

.team-button {
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.1);
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 8px;
    border-radius: 4px;
  }
}

