@use "tailwindcss";

// Variables
@use "./variables";

// Global styles
@use "./global";

// Components styles
@use "./components/header";
@use "./components/footer";
@use "./components/modal";
@use "./components/navbar";

// Pages styles
@use "./pages/homepage";
@use "./pages/courses";
@use "./pages/blog";
@use "./pages/contacts";
@use "./pages/about-us";
@use "./pages/events";

// UI Components
@use "./UI/button";
@use "./UI/input";
@use "./UI/checkbox";
@use "./UI/link";





