@import "../../../styles/UI/input";

.ui-input-wrapper {
  position: relative;
}

.ui-input-container {
  position: relative;
}

.ui-input {
  padding-left: 16px;
  padding-right: 16px;

  &.ui-input-password {
    padding-right: 32px;
  }

  &.ui-input-valid {
    border-color: var(--color-success);
  }

  &.ui-input-invalid {
    border-color: var(--color-danger);
  }
}

.ui-input-eye-button {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
}

.ui-input-status {
  position: absolute;
  font-size: 16px;
  line-height: 1;
  top: calc(50% - 8px);
  right: 12px;
  transition: all 0.2s ease;

  &.ui-input-status-valid {
    color: var(--color-success);
  }

  &.ui-input-status-invalid {
    color: var(--color-danger);
  }
}

.ui-input-message {
  position: absolute;
  right: 0;
  top: -26px;
  font-size: 14px;

  &.ui-input-message-valid {
    color: var(--color-success);
  }

  &.ui-input-message-invalid {
    color: var(--color-danger);
  }
}

