@import "../../styles/pages/about-us";
@import "../../styles/pages/homepage";

.about-breadcrumb-separator {
  color: var(--color-gray-600);
}

.about-breadcrumb-text {
  color: var(--color-gray-600);
}




