@use "@/styles/pages/courses";

.courses-page-title {
  font-weight: 900;
  font-size: 64px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  margin-bottom: 24px;
}

.courses-page-description {
  font-size: 20px;
  line-height: 1.6;
  color: var(--color-gray-700);
  max-width: 600px;
}





